<footer class="site-footer">
  <h2 class="text-center"><small>Scroll Up</small></h2>
</footer>


 <!-- JS CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="{{ "/js/header.js" | prepend: site.baseurl }}"></script>
  <!-- END JS CDN -->
